@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$signature-color: rgb(255, 111, 15);
$default-color: rgb(50, 50, 50);

$super-title: 'Jacques Francois Shadow', cursive;
$main-font: 'Josefin Sans', sans-serif;
$caption-font: 'Caveat', cursive;

$size-post-title: 1.5rem;
$size-post-caption: .8rem;
$size-post-text: 1rem;
